fastapi
uvicorn
xgboost
pandas
scikit-learn
joblib
google-generativeai
groq
python-dotenv
firebase-admin
python-multipart
slowapi
openpyxl
passlib[bcrypt]
pytest
appium-python-client
selenium
pydantic-settings
python-jose
sqlalchemy
httpx
email-validator>=2.0.0
--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
ultralytics
sib-api-v3-sdk
